<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giving Tree</title>
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata:400,700">
    //- <script src="/scripts/main.js" defer></script>
</head>

<body>
    <header>
        <p class="venmo">Venmo: @giving-tree</p>
        <h1>
            <div class="cursive">Welcome</div>
            <div class="capital-font"> TO THE </div>
            <div class="type-font">GIVING TREE</div>
        </h1>
    </header>
    <main>
        <section>
            <div class="relative">
                <img class="image" src="../images/treeArtWorkClean-resized.webp" width="370" alt="Giving Tree" style="rotate:-2deg;">
                <div class="content-stars">
                    <div class="star-1 stars"></div>
                    <div class="star-2 stars"></div>
                    <div class="star-3 stars"></div>
                </div>
            </div>
            <div class="donate-btns" style="margin-bottom: 3rem;">
                <ul>
                    <li class="donate-btns">
                        a(href = `${nextUrl}`, class="button") Sponsor a Friend
                    </li>
                    <li class="donate-btns">
                        <a href="/contribute/" class="button">Donate Now</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="card">
            <h2>Merry Christmas!</h2>
            <p>Click <strong>Sponsor a Friend</strong> to take a random peek at a gift on the giving tree. If that first gift isn't your vibe, no worries! You can always pick a different gift. </p>
            <p>Click <strong>Donate Now</strong> if you want to help, but don't care to pick a gift yourself.</p>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>