<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giving Tree</title>
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata:400,700">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    //- <script src="/scripts/main.js" defer></script>
</head>

<body>
    <header>
        <p class="venmo">Venmo: <a href="https://venmo.com/u/givingtree_jalynn" target="_blank">@givingtree_jalynn</a></p>

        <a href="/" class="banner-link">
        <h1>
            <div class="cursive">Welcome</div>
            <div class="capital-font"> TO THE </div>
            <div class="type-font">GIVING TREE</div>
        </h1>
        </a>
    </header>
    <main>
        <section>
            <div class="relative">
                <img class="image" src="../images/treeArtWorkClean-resized.webp" width="370" alt="Giving Tree">
                <div class="content-stars">
                    <div class="star-1 stars"></div>
                    <div class="star-2 stars"></div>
                    <div class="star-3 stars"></div>
                    <div class="star-4 stars-smaller"></div>
                    <div class="star-5 stars-smaller"></div>
                </div>
            </div>
            <div class="donate-btns donate-btns-home">
                <ul>
                    <li>
                        a(href = `${nextUrl}`, class="button") Sponsor a Friend
                    </li>
                    <li>
                        <a href="/contribute/" class="button">Donate Now</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="card">
            <h2>Merry Christmas!</h2>
            <p>Click <strong>Sponsor a Friend</strong> to take a random peek at a gift on the giving tree. If that first gift isn't your vibe, no worries! You can always pick a different gift. </p>
            <p>Click <strong>Donate Now</strong> if you want to help, but don't care to pick a gift yourself.</p>
        </section>
    </main>
    <footer>
        <div class="footer-lower">
            <div>“I have shewed you all things, how that so labouring ye ought to support the weak, and to remember the words of the Lord Jesus, how he said, It is more blessed to give than to receive.”<strong>Acts 20:35</strong>
            </div>
        </div>
        <div class="footer-upper">
            <div>
                <a href="https://instagram.com/jalynn.wightman?igshid=NzZlODBkYWE4Ng==" target="_blank"><img src="../images/instagram.svg" width=40px></a>
                <a href="https://venmo.com/u/givingtree_jalynn" target="_blank"><img src="../images/venmo.svg" width=40px></a>
                <a href="mailto:JaLynn.Wightman@icloud.com">Contact Us</a>
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MjQ4MDA5MjU0MjI5MjM5?igshid=ODhhZWM5NmIwOQ==" target="_blank">My Story</a>
            </div>
        </div>
    </footer>
</body>

</html>