@media (max-height: 750px) {
    .image {
        height: 400px;
        width: auto;
    }
}
:root {
    margin: 0;
    padding: 0;
    /* CSS HEX */
    --vermilion: #dc4333ff;
    --white: #ffffffff;
    --pale-dogwood: #efd2c5ff;
    --eerie-black: #1b2021ff;
    --dark-spring-green: #306b34ff;
}

html,
body,
h1 {
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 9rem;
    background: var(--vermilion);
}

body {
    /* background-image: linear-gradient(60deg, #ffffffff, #ffffffff, #ffffffff, #ffffffff, #efd2c5ff, #efd2c5ff); */
    /* background-color: rgb(250, 255, 250); //#f8f8f8; */
    background-color: #f8f8f8;
}

body{
    font-family: "Literata";
}

main {
    margin: 0 auto;
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    align-items: center;
}

h1 {
    padding-top: 4rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    white-space: nowrap;
}

.cursive {
    font-family: "Dancing Script";
    font-size: 2.5rem;
}

.capital-font {
    font-family: "Inter";
    font-size: small;
}

.type-font {
    color: var(--pale-dogwood);
    font-family: "Literata";
    text-shadow: -2px 2px var(--vermilion);
}

section {
    margin: auto;
}

.card {
    border-style: solid;
    border-color: var(--dark-spring-green);
    border-radius: 5px;
    border-width: .125rem;
    font-size: 1.15rem;
    margin: 2rem;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
    min-width: 350px;
}

.card h2 {
    background: var(--dark-spring-green);
    color: rgb(250, 250, 250);
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.card p,
.card h3 {
    padding-left: 1rem;
    padding-right: 1rem;
}


.image {
    display: block;
    margin: auto;
    /* padding-right: 3rem; */
    padding-top: 1rem;
}

.donate-btns {
    text-align: center;
}

ul {
    display: block;
    list-style-type: none;
    border: #000000;
    margin: 0;
    padding: 0;
}

.donate-btns li {
    display: inline-block;
    border: 1px black;
}

.button {
    background-color: var(--dark-spring-green);
    /* Green */
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: .5rem;
    border-radius: 6px;
    width: 9rem;
}

.relative {
    position: relative;
}

.content-stars {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    /* border: solid green; */
}

.stars {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    animation-iteration-count: infinite;
}

.star-1 {
    background-color: var(--vermilion);
    top: 58%;
    left: 57%;
    animation-name: twinkle-1;
    animation-duration: 1s;
}

.star-2 {
    background-color: var(--pale-dogwood);
    top: 25%;
    left: 50%;
    animation-name: twinkle-2;
    animation-duration: 1s;
}

.star-3 {
    background-color: var(--dark-spring-green);
    top: 85%;
    left: 39%;
    animation-name: twinkle-3;
    animation-duration: 1s;
}

@keyframes twinkle-1 {
    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

@keyframes twinkle-2 {
    20% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

@keyframes twinkle-3 {
    70% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

footer {
    width: 100vw;
    height: 9rem;
    background: var(--vermilion);
    margin-top: 2rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Twitter */
.fa-instagram {
    background: rgb(136, 18, 183);
    color: white;
  }

.venmo {
    position: fixed;
    top: 0px;
    left: 10px;
    color: white;
}

.banner-link {
    text-decoration: none;
}