
/* Create PokemonGb font from downloaded ttf file */
@font-face {
    font-family: PokemonGb;
    src: url('../fonts/PokemonGb-RAeo.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: PokemonHeading;
    src: url("../fonts/PokemonSolidNormal-xyWR.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Save colors into variables */
:root {
    --main-red: #FF0000;
    --sub-red: #CC0000;
    --main-blue: #3B4CCA;
    --main-yellow: #FFDE00;
    --sub-yellow: #B3A125;
}

body {
    margin: 0;
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

main {
    font-family: PokemonGb;
}
/* Navigation bar styles */


#nav-bar li:hover {
    animation-name: hover-nav;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#nav-bar ul {
    padding: 0;
    text-align: center;
    font-family: PokemonHeading;
    list-style: none;
    margin: 0 auto;
}

#nav-bar li {
    line-height: initial;
}

#nav-bar li a, #nav-bar li {
    font-size: 20pt;
    text-shadow: 0 0 4px var(--main-blue);
    color: var(--main-yellow);
    text-decoration: none;

}

#menu-button {
    text-shadow: 0 0 4px var(--main-blue);
    color: var(--main-yellow);
    font-family: PokemonHeading;
    width: 100%;
    height: 77px;
    font-size: 20pt;
}

.remove {
    display: none;
}


/* Setup grid for main content  */

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Styles for results section */

#results-section {
    grid-column: 1 / 3;

}

#results { 
    list-style: none;
    padding: 0;
    margin: 0;
}

#results>li{
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 0.5fr;
}

#results div {
    border: 3px solid black;
}

.poke-sprite {
    display: block;
    margin: 0 auto;
}

.stats {
    border: 3px solid black;
    margin: 0;
    list-style: none;
    font-size: 10pt;
}

.poke-name {
    display: inline;
    text-align: center;
    border: 3px solid black;
    margin: 0;
    padding: 35px 0 35px;
}

.team-button {
    border: 3px solid black;
    background-color: var(--sub-yellow);
}

.team-button:hover {
    background-color:  var(--main-yellow);
}

/* Styles for filter section */

#filter {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: auto;
    width: 100%;
}

#open-filter {
    border: 3px solid var(--main-blue);
    background-color: white;
    width: 100%;
    height: 156px;
    padding: 0;
}

#open-filter:active {
    background-color: var(--main-blue);
    color: white;
}

#filter-menu {
    border: 3px solid var(--main-blue);
    background-color: white;
}

#type-list {
    list-style: none;
    padding: 0;
}

.poke-type {
    border: 1px solid black;
    padding: 5px;
}

.poke-type:active {
    background-color: lightgray;
}

.type-active {
    border: 3px solid var(--main-blue);
}
/* Styles for team section  */


.team-sprite {
    border: 1px solid black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.team-sprite > img {
    width: 70px;
}
.poke-team {
    margin: 3px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 45px;
}

.poke-team > p {
    font-size: 10pt;
    position: relative;
    right: 0;
}

#team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    border: 3px solid var(--main-red);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
    height: 150px;
    width: 100%;
}

/* Team page styles */

#content-team-page {
    max-width: 1400px;
    margin: 0 auto;
}

.team-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.team-card {
    width: 100%;
    border: 3px solid black;
}

/* Media query for medium screens */
@media screen and (min-width: 800px) {

    #nav-bar ul {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }

    #nav-bar {
        display: initial;
    }

    #menu-button {
        display: none;
    }

    #content {
        margin: 0 auto;
        max-width: 1400px;
    }
}



/* Animations */

@keyframes hover-nav {
    50% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}
}

@keyframes loading {
    0% { opacity: 100%;}
    50% {opacity: 10%;}
    100% {opacity: 100%;}
}

.loading {
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}